body {
	font-family: Arial, Helvetica, sans-serif;
	line-height:160%;
	font-size:11px;
	background-color:#eaeaea;
}
 img 			{ border: 0px;}

 a,
 a:link,
 a:visited {
	color:#0066ff ;
	text-decoration:none;
}
 a:hover,
 a:active {
	color:#0066ff ;
	text-decoration:underline;
}